<ion-view view-title="AJUDA">
<ion-content>
<div class="list card">

  <a ng-click="navigate(41.29485,-7.74634)" class="item item-icon-right resumo">
    <i class="icon ion-home custom_icon"></i>
    Av. Carvalho Araújo 7, 5000-651 Vila Real
  </a>

  <a href="tel:+351939758552" class="item item-icon-right resumo">
    <i class="icon ion-ios-telephone custom_icon"></i>
    (+351) 939 758 552
  </a>

  <a ng-href="mailto:apcivr@gmail.com" class="item item-icon-right resumo">
    <i class="icon ion-email custom_icon"></i>
    apcivr@gmail.com
  </a>

   <a onclick="window.open(&apos;http://www.civr.pt/&apos;, &apos;_system&apos;, &apos;location=yes&apos;)" class="item item-icon-right resumo">
    <i class="icon ion-ios-world custom_icon"></i>
    http://www.civr.pt
  </a>

</div>
      </ion-content>
    </ion-view>