<ion-view view-title="Home">
<center><ion-content class="padding">
<a onclick="navigate(31.046051,34.85161199999993)" class="button button-block button-outline button-large button-dark item-icon-right">Israel<i class="icon ion-ios-paper"></i></a>
<a href="#/schedule" class="button button-outline button-block button-medium button-positive item-icon-right">Horário<i class="icon ion-ios-calendar-outline"></i></a>
<a href="#/access" class="button button-outline button-block button-assertive item-icon-right">Accessos<i class="icon ion-ios-location"></i></a>
<a href="#/maps" class="button button-outline button-small button-block button-energized item-icon-right">Mapas<i class="icon ion-map"></i></a>
<a href="#/instacivrfeed" class="button button-block item-icon-right">Fotos<i class="icon ion-map"></i></a>

</ion-content></center>
</ion-view>