<ion-view view-title="Home">
<center><ion-content class="has-header has-subheader padding">
<a href="#/news" class="button button-outline button-block button-assertive item-icon-right">Notícias</a>
<a href="#/schedule" class="button button-outline button-block button-assertive item-icon-right">Horário</a>
<a href="#/access" class="button button-outline button-block button-assertive item-icon-right">Accessos</a>
<a href="#/maps" class="button button-outline button-block button-assertive item-icon-right">Mapas</a>
<a href="#/instacivrfeed" class="button button-outline button-block button-assertive item-icon-right">#CircuitoVilaReal</a>

</ion-content></center>
</ion-view>