<ion-view view-title="#CircuitoVilaReal">
<ion-content>
<ion-refresher refreshing-text="Refreshing.." on-refresh="doRefresh()" ></ion-refresher>
<div class="item item-icon-left" ng-if="newItems.length > 0" ng-click="doRefresh()">
    {{newItems.length}} Novas fotos!<i class="icon ion-refresh"></i>
  </div>
<div class="list card" ng-repeat="item in items track by item.id">
  <div class="item item-avatar">
    <img ng-src="{{item.user.profile_picture}}">
    <h2>{{item.user.username}}</h2>
    <p><span am-time-ago="item.created_time" am-preprocess="unix"></span></p>
  </div>

  <div class="item item-body" >
    <img ng-src="{{item.images.low_resolution.url}}">
    <p>
      {{item.caption.text}}
    </p>
    <p>
      <a href="#" class="subdued">{{item.likes.count}} Likes</a>
      <a href="#" class="subdued">{{item.comments.count}} Comments</a>
    </p>
  </div>
</div>
<ion-infinite-scroll immediate-check="false" on-infinite="loadMore()" distance="5%" ng-if="!noMoreItemsAvailable"></ion-infinite-scroll>
</ion-content>
</ion-view>
