body {
    background: 
url(../img/home.jpg) no-repeat center center fixed;
    background-attachment:fixed;
    background-position: center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

}

body .view-container.tab-content {
  background-color: transparent;
}

body .pane, .menu, .view, .list, .item       {
    background: transparent;
}
.pane {

background: 
url(../img/home.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
}

, link_type

if (link_type !== undefined && link_type !== null) {
                    if (link_type.toLowerCase() !== 'html') {








   /*  //definir controlador do feed de instagram
  a

app.controller('CivrInstagramController', function($scope, $timeout, PersonService) {
  $scope.items = [];
  $scope.newItems = [];
  
  PersonService.GetFeed().then(function(items){
  $scope.items = items;
  });
  
  $scope.doRefresh = function() {
    if($scope.newItems.length > 0){
      $scope.items = $scope.newItems.concat($scope.items);
        
      //Stop the ion-refresher from spinning
      $scope.$broadcast('scroll.refreshComplete');
      
      $scope.newItems = [];
    } else {
      PersonService.GetNewPhotos().then(function(items){
        $scope.items = items.concat($scope.items);
        
        //Stop the ion-refresher from spinning
        $scope.$broadcast('scroll.refreshComplete');
      });
    }
  };
  
  $scope.loadMore = function(){
    PersonService.GetOldPhotos().then(function(items) {
      $scope.items = $scope.items.concat(items);
    
      $scope.$broadcast('scroll.infiniteScrollComplete');
    });
  };
  
   var CheckNewItems = function(){
    $timeout(function(){
      PersonService.GetNewPhotos().then(function(items){
        $scope.newItems = items.concat($scope.newItems);
      
        CheckNewItems();
      });
    },10000);
   }
  
  CheckNewItems();
});


   */


/*
app.controller('CivrInstagramController', function($http, $scope) {

  $scope.photos = [];
  $scope.nextUrl = [];
  $scope.beforeUrl=[];

  function loadStories(params, callback) {
    $http.get("https://api.instagram.com/v1/tags/circuitovilareal/media/recent?access_token=1368360108.119d058.c88a3bdad63f4c6e923eb96b9db732df&count=10", {params: params})
      .success(function(response) {
        var nextUrl = [];
        angular.forEach(response.pagination.next_max_tag_id, function(getNextUrl){
          nextUrl.push(getNextUrl);

        });

        var beforeUrl =[];
        angular.forEach(response.pagination.min_tag_id, function(getBeforeUrl){

        beforeUrl.push(getBeforeUrl);          
        });
        callback(beforeUrl);
        
        

      
        var photos = [];
        angular.forEach(response.data, function(photo) {
          photos.push(photo);
        });
        callback(photos);
      });
  }

  
       
  console.log($scope.beforeUrl);

  $scope.loadOlderStories = function() {
    var params = {};
    if ($scope.photos.length > 0) {
      params['&max_tag_id'] = $scope.nextUrl;
      console.log(params);

    }
    loadStories(params, function(olderStories) {
      $scope.photos = $scope.photos.concat(olderStories);
      $scope.$broadcast('scroll.infiniteScrollComplete');
    });
  };
  
  $scope.loadNewerStories = function() {
    var params = {'before': $scope.beforeUrl};
    loadStories(params, function(newerStories) {
      console.log(loadStories());
      $scope.photos = newerStories.concat($scope.photos);
      $scope.$broadcast('scroll.refreshComplete');
    });
  };

});

*/


/*
      $scope.loadMorePhotos = function (){

      if ($scope.photos.length>0){
      

      }
      $http.get($scope.nextUrl)
      .success(function(response.data){
        $scope.nextUrl = response.pagination.next_url;


        angular.forEach(response.data, function(photo) {
        $scope.photos.push(photo);

      });

      //if($scope.pagesLoaded >= response.pages){

        $scope.noMoreItemsAvailable=true;
      //}
      
      $scope.$broadcast('scroll.infiniteScrollComplete');
      
});

      $scope.doRefresh = function (){





      }



      };


//definir controlador do feed do instagram
app.controller('CivrInstagramController', function($http, $scope) {

     $scope.photos = [];
     $scope.userPhoto= 0;
     $scope.photoUserReady = 0;
     $scope.nextUrl = 0;

      $http.get("https://api.instagram.com/v1/tags/circuitovilareal/media/recent?max_tag_id1008811076680267440=&client_id=f4eb26f36e924426b533c1c9e57867a9&max_tag_id=965915402511380722")
      .success(function(response) {

        $scope.nextUrl = response.pagination.next_url;

        angular.forEach(response.data, function(photo){
          $scope.photos.push(photo);
         

        });

});
    });


      */